<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/partialHead.ejs') %>
        <link rel="stylesheet" href="/css/createProduct-styles.css">
        <title>Creación de Producto</title>
</head>

<body>
    <%- include('../partials/partialsHeaderLoginRegister.ejs') %>
        <main class="contenedor-padre">
            <section class="contenedor">
                <h1 class="titulo">Creación de Producto</h1>
                <form action="/products/" method="POST" class="create-form" enctype="multipart/form-data">

                    <div class="formularioLabel">
                        <label for="NombreProducto" class="titulo-form">Nombre del Producto</label>
                        <input type="text" id="NombreProducto" name="NombreProducto" class="relleno-formulario">
                    </div>

                    <div class="formularioLabel">
                        <label for="descripcion" class="titulo-form">Descripción</label>
                        <textarea name="descripcion" id="descripcion" rows="5" class="relleno-formulario"></textarea>
                    </div>

                    <div class="formularioLabel">
                        <label for="tags" class="titulo-form">Tags</label>
                        <input type="text" name="tags" id="tags" class="relleno-formulario">
                    </div>

                    <div class="formularioLabel">
                        <label for="imagenProducto" class="titulo-form">Imagen del Producto</label>
                        <input type="file" name="imagenProducto" id="imagenProducto" accept=".jpg, .png" multiple
                            class="relleno-formulario">
                    </div>

                    <div class="formularioLabel">
                        <label for="categoriaProducto" class="titulo-form">Categoría</label>
                        <select id="categoria" name="categoria" required class="relleno-formulario">
                            <option value="">-Seleccione una categoría-</option>
                            <option value="mates">Mates</option>
                            <option value="jarron">Jarron</option>
                            <option value="maceta">Maceta</option>
                            <option value="Figurita">Figurita</option>
                        </select>
                    </div>

                    <div class="formularioLabel">
                        <label for="precio" class="titulo-form">Precio</label>
                        <input type="number" name="precio" id="precio" class="relleno-formulario" step="0.01">
                    </div>
                    <button type="submit" class="crear-boton">Crear Producto</button>
                    <button type="submit" class="volver-boton">Volver</button>
                </form>


            </section>
        </main>
    <%- include('../partials/partialsFooter.ejs') %>
</body>

</html>