<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="contenedor-dashboard">
        <table class="dashboard">
            <thead>
                <td>ID</td>
                <td>Imagen</td>
                <td>Nombre Producto</td>
                <td>Precio</td>
                <td>Accion</td>
            </thead>
            
        </table>
    </section>
</body>
</html>