<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/partialHead.ejs') %>
        <title>Document</title>
        <link rel="stylesheet" href="../css/productDetail-styles.css">
        <link rel="stylesheet" href="../css/createProduct-styles">
</head>

<body>
    <%- include('../partials/partialsHeaderLoginRegister.ejs') %>>

        <main class="Contenedor-padre">

            <!--Producto (Imanol)-->

            <section class="productoMovile">
                <div class="producPrincipal">
                    <img class="imgPrincipal" src="/images/mate-dragon.png">
                    <div class="infoProduc">
                        <h4 class="nomProduc">Mate Dragon</h4>
                        <div class="preciosProduc">
                            <h4 class="precioPrin">$15</h4>
                            <h4 class="descuento">25% OFF</h4>
                        </div>
                        <p class="descripProducto">Mate con nuestro exclusivo diseño impreso en 3D de escamas de dragón
                            en negro, Ideal para los amantes del mate que buscan un toque de fantasía.</p>
                    </div>
                </div>

                <div class="compra">
                    <input type="radio" class="cantidad-selector" name="cantidad-config" id="cantidad-producto" checked>
                    <label for="cantidad-producto" class="cantidad-titulo">Qty: 1</label>

                    <input type="radio" class="carrito-selector" name="carrito-config" id="agregar-carrito" checked>
                    <label for="agregar-carrito" class="carrito-titulo">Agregar al carrito</label>
                </div>

                <div class="comprarAhora">
                    <input type="radio" class="comprar-selector" name="comprar-config" id="comprar-ahora" checked>
                    <label for="comprar-ahora" class="comprar-titulo">Comprar ahora</label>


                </div>

            </section>

            <section class="productoDesktop">
                <div class="producPrincipal">
                    <img class="imgPrincipal" src="/images/mate-dragon.png">
                    <div class="infoProduc">
                        <h4 class="nomProduc">Mate Dragon</h4>
                        <div class="preciosProduc">
                            <h4 class="precioPrin">$15</h4>
                            <h4 class="descuento">25% OFF</h4>
                        </div>
                        <p class="descripProducto">Mate con nuestro exclusivo diseño impreso en 3D de escamas de dragón
                            en negro, Ideal para los amantes del mate que buscan un toque de fantasía.</p>
                        <div class="botonesCompra">
                            <select name="cantidad" id="cantidad">
                                <option value="1">Qty: 1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                            <button type="submit" class="agregar-carrito">Agregar al carrito</button>
                            <button type="submit" class="comprar-ahora">Comprar ahora</button>
                        </div>
                        <div class="etiqueta-caja">
                            <i class="fa-solid fa-tag"></i>
                            <div class="etiqueta">
                                <p class="etiqueta-item">mate</p>
                                <p class="etiqueta-item">dragon</p>
                                <p class="etiqueta-item">negro</p>
                                <p class="etiqueta-item">3D</p>
                                <p class="etiqueta-item">descuento</p>
                                <p class="etiqueta-item">arg</p>
                            </div>
                        </div>

                        <div class="interacciones-producto">
                            <h4 class="intera"><i class="fa-regular fa-eye"></i> 5,5k Vista</h4>
                            <h4 class="intera"><i class="fa-regular fa-heart"></i> 2,5k Likes</h4>
                            <h4 class="intera"><i class="fa-solid fa-cloud-arrow-up"> 251 Descargas</i></h4>
                        </div>
                    </div>
                </div>

            </section>


            <!--Detalles del producto (Ruben)-->
            <section class="descripcion-mobile">
                <div class="tabs">
                    <input type="radio" class="tab-selector" name="descripcion-config" id="descripcion-producto"
                        checked>
                    <label for="descripcion-producto" class="tab-titulo">Descripción</label>
                    <div class="tab-contenido">
                        <section class="detalle-producto">

                            <ul class="menu-desplegable">
                                <li class="desplegable-mobile">
                                    <input type="radio" name="desplegable" id="detalles" class="abridor" checked>
                                    <label for="detalles" class="titulos">Detalles</label>
                                    <div class="contenido">
                                        <p>Nuestro mate en forma de huevo de dragón presenta un diseño detallado y
                                            realista que captura
                                            la esencia de estas míticas criaturas. Cada escama y curva está finamente
                                            elaborada para
                                            brindarte una experiencia visual única. El mate está fabricado con plástico
                                            resistente y
                                            seguro para alimentos, lo que garantiza su durabilidad y seguridad.</p>
                                    </div>
                                </li>

                                <li class="desplegable-mobile">
                                    <input type="radio" name="desplegable" id="envios" class="abridor">
                                    <label for="envios" class="titulos">Envíos</label>
                                    <div class="contenido">
                                        <p>Realizamos envíos rápidos y seguros a nivel nacional. Cada mate en forma de
                                            huevo de dragón
                                            impreso en 3D se empacará cuidadosamente para garantizar su protección
                                            durante el
                                            transporte. El tiempo estimado de entrega es de 5 a 7 días hábiles. Te
                                            proporcionaremos un
                                            número de seguimiento una vez que tu pedido haya sido enviado para que
                                            puedas rastrear el
                                            progreso de la entrega. Si tienes alguna pregunta sobre el envío o necesitas
                                            opciones de
                                            envío internacional, no dudes en contactarnos!</p>
                                    </div>
                                </li>

                                <li class="desplegable-mobile">
                                    <input type="radio" name="desplegable" id="devoluciones" class="abridor">
                                    <label for="devoluciones" class="titulos">Devoluciones</label>
                                    <div class="contenido">
                                        <p>Tu satisfacción es nuestra prioridad. Si por alguna razón no estás
                                            completamente satisfecho
                                            con tu mate en forma de huevo de dragón impreso en 3D, ofrecemos una
                                            política de devolución
                                            dentro de los 30 días posteriores a la recepción. Para ser elegible para la
                                            devolución, el
                                            mate debe estar en su estado original y sin usar. Por favor, contáctanos
                                            para obtener más
                                            detalles y comenzar el proceso de devolució</p>
                                    </div>
                                </li>
                            </ul>

                        </section>
                    </div>



                    <input type="radio" class="tab-selector" name="descripcion-config" id="impresion-producto">
                    <label for="impresion-producto" class="tab-titulo">Configuraciones</label>
                    <div class="tab-contenido">
                        <section class="configuraciones-impresion">
                            <p class="info-impresion">
                                PLA
                            </p>
                            <p class="info-impresion">
                                230°
                            </p>
                            <p class="info-impresion">
                                40mm/s
                            </p>
                            <p class="info-impresion">
                                0.004mm LH
                            </p>
                            <p class="info-impresion">
                                Zonestar Z6
                            </p>
                        </section>
                    </div>
                </div>
            </section>



            <section class="descripcion-desktop">

                <section class="detalle-producto">
                    <h3>Descripción del modelo 3D</h3>
                    <ul class="menu-desplegable">
                        <li class="desplegable-desktop">
                            <input type="radio" name="desplegable-desktop" id="detalles-desktop" class="abridor"
                                checked>
                            <label for="detalles-desktop" class="titulos">Detalles</label>
                            <div class="contenido">
                                <p>Nuestro mate en forma de huevo de dragón presenta un diseño detallado y realista que
                                    captura
                                    la esencia de estas míticas criaturas. Cada escama y curva está finamente elaborada
                                    para
                                    brindarte una experiencia visual única. El mate está fabricado con plástico
                                    resistente y
                                    seguro para alimentos, lo que garantiza su durabilidad y seguridad.</p>
                            </div>
                        </li>

                        <li class="desplegable-desktop">
                            <input type="radio" name="desplegable-desktop" id="envios-desktop" class="abridor">
                            <label for="envios-desktop" class="titulos">Envíos</label>
                            <div class="contenido">
                                <p>Realizamos envíos rápidos y seguros a nivel nacional. Cada mate en forma de huevo de
                                    dragón
                                    impreso en 3D se empacará cuidadosamente para garantizar su protección durante el
                                    transporte. El tiempo estimado de entrega es de 5 a 7 días hábiles. Te
                                    proporcionaremos un
                                    número de seguimiento una vez que tu pedido haya sido enviado para que puedas
                                    rastrear el
                                    progreso de la entrega. Si tienes alguna pregunta sobre el envío o necesitas
                                    opciones de
                                    envío internacional, no dudes en contactarnos!</p>
                            </div>
                        </li>

                        <li class="desplegable-desktop">
                            <input type="radio" name="desplegable-desktop" id="devoluciones-desktop" class="abridor">
                            <label for="devoluciones-desktop" class="titulos">Devoluciones</label>
                            <div class="contenido">
                                <p>Tu satisfacción es nuestra prioridad. Si por alguna razón no estás completamente
                                    satisfecho
                                    con tu mate en forma de huevo de dragón impreso en 3D, ofrecemos una política de
                                    devolución
                                    dentro de los 30 días posteriores a la recepción. Para ser elegible para la
                                    devolución, el
                                    mate debe estar en su estado original y sin usar. Por favor, contáctanos para
                                    obtener más
                                    detalles y comenzar el proceso de devolució</p>
                            </div>
                        </li>
                    </ul>

                </section>


                <section class="configuraciones-impresion">
                    <h3>Configuraciones de impresora 3D</h3>
                    <p class="info-impresion">
                        PLA
                    </p>
                    <p class="info-impresion">
                        230°
                    </p>
                    <p class="info-impresion">
                        40mm/s
                    </p>
                    <p class="info-impresion">
                        0.004mm LH
                    </p>
                    <p class="info-impresion">
                        Zonestar Z6
                    </p>
                </section>
            </section>
        </main>
        <section class="carrusel">
            <div class="titulo-boton">
                <h2 class="titulo-contenedor">Catálogo de productos</h2>
                <button type="submit" class="boton-catalogo">Ver todos</button>
            </div>
            <div class="contenedor">
                <article class="producto">
                    <img src="/images/mate-celeste.png" alt="mate celeste">
                    <div class="info-producto">
                        <h4 class="nombre-producto">Mate celeste</h4>
                        <p class="precio">15$</p>
                    </div>
                </article>
                <article class="producto">
                    <img src="/images/mate-argentina.png" alt="mate argentina">
                    <div class="info-producto">
                        <h4 class="nombre-producto">Mate Vamos!</h4>
                        <p class="precio">20$</p>
                    </div>
                </article>
                <article class="producto">
                    <img src="/images/mate-metalizado.png" alt="Mate Metalizado">
                    <div class="info-producto">
                        <h4 class="nombre-producto">Mate Metalizado</h4>
                        <p class="precio">30$</p>
                    </div>
                </article>
                <article class="producto">
                    <img src="/images/mate-rosado.png" alt="mate rosado">
                    <div class="info-producto">
                        <h4 class="nombre-producto">Mate Rosado</h4>
                        <p class="precio">15$</p>
                    </div>
                </article>
                <article class="producto">
                    <img src="/images/mate-turquesa.png" alt="mate turquesa">
                    <div class="info-producto">
                        <h4 class="nombre-producto">Mate Turquesa</h4>
                        <p class="precio">15$</p>
                    </div>
                </article>
            </div>
        </section>
        <%- include('../partials/partialsFooter.ejs') %>
</body>

</html>