<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/partialHead.ejs') %>
        <link rel="stylesheet" href="../css/products/productCart-styles.css">
        <link rel="stylesheet" href="../css/createProduct-styles">
        <title>Log in</title>
</head>

<body>
    <%- include('../partials/partialsHeaderLoginRegister.ejs') %>

        <table class="cart-table">
            <tr>
                <th class="titulo">Producto</th>
                <th class="titulo">Imagen</th>
                <th class="titulo">Precio</th>
                <th class="titulo"></th>
            </tr>
            <tr>
                <td class="nombre-producto">Mate Metalizado</td>
                <td class="foto-producto"><img class="product-image" src="/images/mate-metalizado.png" alt="Camiseta">
                </td>
                <td class="precio-producto">$20</td>
                <td><button class="boton-delete">Eliminar</button></td>
            </tr>
            <tr>
                <td class="nombre-producto">Jarron Blanco</td>
                <td class="foto-producto"><img class="product-image" src="/images/jarron-blanco.jpg" alt="Jeans"></td>
                <td class="precio-producto">$50</td>
                <td><button class="boton-delete">Eliminar</button></td>
            </tr>
            <tr>
                <td class="nombre-producto">Maceta Weed</td>
                <td class="foto-producto"><img class="product-image" src="/images/maceta-weed.jpeg" alt="Zapatos"></td>
                <td class="precio-producto">$30</td>
                <td><button class="boton-delete">Eliminar</button></td>
            </tr>
        </table>

        <div class="total">Total: $150</div>

        <%- include('../partials/partialsFooter.ejs') %>
</body>

</html>