
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/index-styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
</head>

<body>
    <header class="encabezado">
    <div class="subEncabezado">
        <section class="encabezado__superior">
            <img src="/images/logos/Poliforma-horizontal-color.svg" alt="imagen logo poliformas" class="encabezado__imagen">
            <div class="superiorBarraBusqueda">
                <input type="search" class="barraBusqueda" placeholder="Busqueda">
                <button class="search__boton"><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
        </section>
        <nav class="navbar">
            <ul class="navbar__listashop">
                <li class="listasuperior__link"><a href="#">Productos</a></li>
                <li class="listasuperior__link"><a href="#">Ofertas</a></li>
                <li class="listasuperior__link"><a href="#">Ayuda</a></li>
            </ul>
            <ul class="navbar__listauser">
                <li class="listauser__link"><a href="register">Creá tu cuenta <i class="fa-regular fa-id-card"></i></a></li>
                <li class="listauser__link"><a href="login">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li class="listauser__link"><a href="#">carrito<i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>
            <section class="navbar__burger-menu">
                <div class="burger-menu">
                    <i class="fas fa-bars"></i>
                </div>
            </section>
        </nav>
    </div>
</header>

<footer class="pie">
    <br>
    <footer>
        <div class="container">
          <div class="footer-content">
            <div class="footer-section about">
              <h3>About Us</h3>
              <p>¡Bienvenido a nuestro sitio web! Somos una empresa dedicada a...</p>
            </div>
            <div class="footer-section contact">
              <h3>Contacto</h3>
              <p>Correo electrónico: info@ejemplo.com</p>
              <p>Teléfono: +123456789</p>
            </div>
            <div class="footer-section social">
              <h3>Síguenos</h3>
              <ul class="social-icons">
                <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="footer-bottom">
            <p>Derechos de autor &copy; 2024 | Nombre de la empresa</p>
          </div>
        </div>
      </footer>
</footer>
</body>