<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poliforma - Taller 3D</title>
</head>
<body>
    
    <main class="cuerpo">
        <section class="slider">
            <article class="slider__imagen">
                <img src="/images/mate-dragon-rojo-crop.jpg" alt="mate poliforma">
            </article>
            <article class="slider__texto">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae, mollitia dolores tempora optio omnis assumenda illum labore aliquid perspiciatis non ipsum</p>
            </article>
        </section>
    </main>
</body>
</html>