<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/index-styles.css">
    <title>Poliforma - Taller 3D</title>
</head>
<body>
    
    <main class="cuerpo">
        <section class="slider">
            <article class="slider__imagen">
                <img src="/images/mate-dragon-rojo-crop.jpg" alt="mate poliforma" class="imagen__producto">
            </article>
            <article class="slider__texto">
                <p>Diseños vanguardistas</p>
                <p>En tu color favorito</p>
            </article>
            <article class="slider__puntitos">
                <div class="puntitos__activo puntito"></div>
                <div class="puntito"></div>
                <div class="puntito"></div>
                <div class="puntito"></div>
                <div class="puntito"></div>
            </article>
        </section>
    </main>
</body>
</html>