<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/productDetail-styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
</head>

<body>
    <header>

    </header>

    <main class="Contenedor-padre">

        <!--Producto (Imanol)-->




        <!--Detalles del producto (Ruben)-->
    <section class="descripcion-mobile">
        <div class="tabs">
            <input type="radio" class="tab-selector" name="descripcion-config" id="descripcion-producto" checked>
            <label for="descripcion-producto" class="tab-titulo">Descripción</label>
            <div class="tab-contenido">
                    <section class="detalle-producto">

                        <ul class="menu-desplegable">
                            <li class="desplegable-mobile">
                                <input type="radio" name="desplegable" id="detalles" class="abridor" checked>
                                <label for="detalles" class="titulos">Detalles</label>
                                <div class="contenido">
                                    <p>Nuestro mate en forma de huevo de dragón presenta un diseño detallado y realista que captura
                                        la esencia de estas míticas criaturas. Cada escama y curva está finamente elaborada para
                                        brindarte una experiencia visual única. El mate está fabricado con plástico resistente y
                                        seguro para alimentos, lo que garantiza su durabilidad y seguridad.</p>
                                </div>
                            </li>

                            <li class="desplegable-mobile">
                                <input type="radio" name="desplegable" id="envios" class="abridor">
                                <label for="envios" class="titulos">Envíos</label>
                                <div class="contenido">
                                    <p>Realizamos envíos rápidos y seguros a nivel nacional. Cada mate en forma de huevo de dragón
                                        impreso en 3D se empacará cuidadosamente para garantizar su protección durante el
                                        transporte. El tiempo estimado de entrega es de 5 a 7 días hábiles. Te proporcionaremos un
                                        número de seguimiento una vez que tu pedido haya sido enviado para que puedas rastrear el
                                        progreso de la entrega. Si tienes alguna pregunta sobre el envío o necesitas opciones de
                                        envío internacional, no dudes en contactarnos!</p>
                                </div>
                            </li>

                            <li class="desplegable-mobile">
                                <input type="radio" name="desplegable" id="devoluciones" class="abridor">
                                <label for="devoluciones" class="titulos">Devoluciones</label>
                                <div class="contenido">
                                    <p>Tu satisfacción es nuestra prioridad. Si por alguna razón no estás completamente satisfecho
                                        con tu mate en forma de huevo de dragón impreso en 3D, ofrecemos una política de devolución
                                        dentro de los 30 días posteriores a la recepción. Para ser elegible para la devolución, el
                                        mate debe estar en su estado original y sin usar. Por favor, contáctanos para obtener más
                                        detalles y comenzar el proceso de devolució</p>
                                </div>
                            </li>
                        </ul>

                    </section>
         </div>
       
       

            <input type="radio" class="tab-selector" name="descripcion-config" id="impresion-producto">
            <label for="impresion-producto" class="tab-titulo">Configuraciones</label>
            <div class="tab-contenido">
                    <section class="configuraciones-impresion">
                        <p class="info-impresion">
                            PLA
                        </p>
                        <p class="info-impresion">
                            230°
                        </p>
                        <p class="info-impresion">
                            40mm/s
                        </p>
                        <p class="info-impresion">
                            0.004mm LH
                        </p>
                        <p class="info-impresion">
                            Zonestar Z6
                        </p>
                    </section>
            </div>
        </div>
    </section>



    <section class="descripcion-desktop">

        <section class="detalle-producto">
            <h3>Descripción del modelo 3D</h3>
            <ul class="menu-desplegable">
                <li class="desplegable-desktop">
                    <input type="radio" name="desplegable-desktop" id="detalles-desktop" class="abridor" checked>
                    <label for="detalles-desktop" class="titulos">Detalles</label>
                    <div class="contenido">
                        <p>Nuestro mate en forma de huevo de dragón presenta un diseño detallado y realista que captura
                            la esencia de estas míticas criaturas. Cada escama y curva está finamente elaborada para
                            brindarte una experiencia visual única. El mate está fabricado con plástico resistente y
                            seguro para alimentos, lo que garantiza su durabilidad y seguridad.</p>
                    </div>
                </li>

                <li class="desplegable-desktop">
                    <input type="radio" name="desplegable-desktop" id="envios-desktop" class="abridor">
                    <label for="envios-desktop" class="titulos">Envíos</label>
                    <div class="contenido">
                        <p>Realizamos envíos rápidos y seguros a nivel nacional. Cada mate en forma de huevo de dragón
                            impreso en 3D se empacará cuidadosamente para garantizar su protección durante el
                            transporte. El tiempo estimado de entrega es de 5 a 7 días hábiles. Te proporcionaremos un
                            número de seguimiento una vez que tu pedido haya sido enviado para que puedas rastrear el
                            progreso de la entrega. Si tienes alguna pregunta sobre el envío o necesitas opciones de
                            envío internacional, no dudes en contactarnos!</p>
                    </div>
                </li>

                <li class="desplegable-desktop">
                    <input type="radio" name="desplegable-desktop" id="devoluciones-desktop" class="abridor">
                    <label for="devoluciones-desktop" class="titulos">Devoluciones</label>
                    <div class="contenido">
                        <p>Tu satisfacción es nuestra prioridad. Si por alguna razón no estás completamente satisfecho
                            con tu mate en forma de huevo de dragón impreso en 3D, ofrecemos una política de devolución
                            dentro de los 30 días posteriores a la recepción. Para ser elegible para la devolución, el
                            mate debe estar en su estado original y sin usar. Por favor, contáctanos para obtener más
                            detalles y comenzar el proceso de devolució</p>
                    </div>
                </li>
            </ul>

        </section>

        
        <section class="configuraciones-impresion">
            <h3>Configuraciones de impresora 3D</h3>
            <p class="info-impresion">
                PLA
            </p>
            <p class="info-impresion">
                230°
            </p>
            <p class="info-impresion">
                40mm/s
            </p>
            <p class="info-impresion">
                0.004mm LH
            </p>
            <p class="info-impresion">
                Zonestar Z6
            </p>
        </section>
    </section>
    </main>

    <footer>

    </footer>
</body>

</html>