<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/productDetail-styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
</head>

<body>
    <header>

    </header>

    <main class="Contenedor-padre">

        <!--Producto (Imanol)-->




        <!--Detalles del producto (Ruben)-->

        <section class="detalle-producto">

            <ul class="menu-desplegable">
                <li>
                    <input type="radio" name="desplegable" id="descripcion" class="abridor">
                    <label for="descripcion" class="titulos">Descripcion</label>
                    <div class="contenido">
                        <p>¡Descubre el encanto y la originalidad de nuestro mate en forma de huevo de dragón impreso en
                            3D! Este mate único combina la magia de los dragones con la innovación de la tecnología de
                            impresión 3D. Cada mate está cuidadosamente diseñado y fabricado con precisión utilizando
                            materiales de alta calidad y técnicas avanzadas de impresión 3D.

                            El mate en forma de huevo de dragón presenta un diseño detallado y realista, que captura la
                            esencia de estas míticas criaturas. Cada escama y cada rasgo son meticulosamente modelados,
                            creando un objeto de arte funcional. El mate está fabricado con plástico resistente y seguro
                            para alimentos, garantizando una experiencia segura y duradera.

                            La forma ergonómica del huevo de dragón se adapta cómodamente a tu mano, brindándote una
                            experiencia de mate cómoda y placentera. El interior del mate está revestido con un
                            recubrimiento de alta calidad para mantener la temperatura de tu mate por más tiempo,
                            permitiéndote disfrutar de cada sorbo.

                            Este mate en forma de huevo de dragón es una forma única de expresar tu personalidad y
                            estilo. Ya sea para uso personal o como regalo, este mate impresionante seguramente se
                            destacará y cautivará a todos los amantes de los dragones y las piezas originales.

                            Añade un toque de fantasía a tus momentos de mate con este mate en forma de huevo de dragón
                            impreso en 3D. ¡Sorprende a tus seres queridos con este regalo único y fascinante!</p>
                    </div>
                </li>

                <li>
                    <input type="radio" name="desplegable" id="envios" class="abridor">
                    <label for="envios" class="titulos">Envios</label>
                    <div class="contenido">
                        <p>Realizamos envíos rápidos y seguros a nivel nacional. Cada mate en forma de huevo de dragón
                            impreso en 3D se empacará cuidadosamente para garantizar su protección durante el
                            transporte. El tiempo estimado de entrega es de 5 a 7 días hábiles. Te proporcionaremos un
                            número de seguimiento una vez que tu pedido haya sido enviado para que puedas rastrear el
                            progreso de la entrega. Si tienes alguna pregunta sobre el envío o necesitas opciones de
                            envío internacional, no dudes en contactarnos!</p>
                    </div>
                </li>

                <li>
                    <input type="radio" name="desplegable" id="devoluciones" class="abridor">
                    <label for="devoluciones" class="titulos">Devoluciones</label>
                    <div class="contenido">
                        <p>Tu satisfacción es nuestra prioridad. Si por alguna razón no estás completamente satisfecho
                            con tu mate en forma de huevo de dragón impreso en 3D, ofrecemos una política de devolución
                            dentro de los 30 días posteriores a la recepción. Para ser elegible para la devolución, el
                            mate debe estar en su estado original y sin usar. Por favor, contáctanos para obtener más
                            detalles y comenzar el proceso de devolució</p>
                    </div>
                </li>
            </ul>

        </section>


    </main>

    <footer>

    </footer>
</body>

</html>