<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/register-styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <title>Register</title>
</head>

<body>
    <header>
    </header>
    <main class="contenedor-padre">
        <section class="contenedor">
            <form action="/" method="POST" class="register">
                <img src="/images/logos/poliforma-horizontal-color.svg" alt="logo" class="logo">
                <h1 class="titulo">Registrate</h1>

                <input type="text" placeholder="Usuario">
                <input type="text" placeholder="Nombre">
                <input type="text" placeholder="Contraseña">
                <input type="text" placeholder="Confirmar contraseña">
            </form>
            <div class="terminos">
                <input type="checkbox" id="terminos">
                <label for="terminos">Acepto los <a href="#">terminos y condiciones</a></label>
            </div>

            <button type="submit" class="registro-boton">Registrarse</button>
            <button type="submit" class="google-boton"><i class="fa-brands fa-google"
                    style="color: #000000;"></i>Registrate con Google</button>

            <div class="cuenta-creada">
                <span>¿Ya tienes cuenta? <a href="/login.html">Inicia sesión</a></span>
            </div>
        </section>
    </main>
    <footer>
    </footer>
</body>

</html>