.encabezado {
    background-color: lightgray;
    display: flex;
    justify-content: center;
}

.subEncabezado{
    width: 100%;
}

.subEncabezado,
.encabezado__superior,
.navbar{
    max-width: 1200px;
}

.encabezado__superior{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.search__boton{
    padding: 1px;
}


.navbar__listashop,
.navbar__listauser{
    list-style-type:none;
    padding: 0;
    display: none;
}

.navbar__burger-menu {
    display:flex;
    justify-content: center;
    margin-bottom: 15px;
}

.burger-menu{
    text-align: center;
    display:inline-block;
    color: white;
    background-color: #03264C;
    font-size: 1.5rem;
    border-radius: 4px;
    padding: 10px 12px;
}

footer {
    background-color: #f5f5f5;
    padding: 20px;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
  }
  
  .footer-section {
    flex: 1;
  }
  
  .footer-section h3 {
    color: #333;
    font-size: 18px;
  }
  
  .footer-section p {
    color: #777;
  }
  
  .social-icons {
    list-style: none;
    padding: 0;
    display: flex;
  }
  
  .social-icons li {
    margin-right: 10px;
  }
  
  .social-icons li a {
    color: #777;
  }
  
  .footer-bottom {
    margin-top: 20px;
    text-align: center;
    color: #777;
  }

@media (min-width: 769px){
    .encabezado__superior{
        flex-wrap: nowrap;
    }

    .superiorBarraBusqueda{
        width: 40%;
        max-width: 330px;
    }

.encabezado__imagen{
    width: 50%;
    max-width: 290px;
    padding: 30px 10px;
}

.superiorBarraBusqueda{
    width: 50%;
    display: flex;
    justify-content: center;
}

    .navbar,
    .navbar__listashop,
    .navbar__listauser{
        display: flex;
    }

    .navbar {
        justify-content: space-between;
        padding: 0px 15px;
    }

    .listasuperior__link,
    .listauser__link{
        margin: 0px 10px;
    }

    .navbar__burger-menu{
        display: none;
    }

    .explorerfooter__listado{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .footer{
        display: flex;
        flex-wrap: wrap;
    }
    
    
.explorerfooter__quinessomons,
.explorerfooter__nuestrahistoria,
.explorerfooter__contactos,
.explorerfooter__mensaje{
        font-size: 24px;
        width: 20%;
    }
    
    .explorerfooter__nuestrahistoria,
    .explorerfooter__contactos,
    .explorerfooter__mensaje{
        padding: 20px 80px;
    }
    
    .explorerfooter__nuestrahistoria,
    .explorerfooter__contactos,
    .explorerfooter__mensaje{
        max-width: 1200px;
    }
    
    .explorerfooter__nuestrahistoria,
    .explorerfooter__contactos,
    .explorerfooter__mensaje{
            width: 30%;
    }
}