* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: #f7f7f7;
    color:#161419;
}

.imagen__producto {
    width: 100%;
}

.slider {
    position: relative;
}

.slider__texto {
    width: 30%;
    height: 30%;
    position: absolute;
    bottom: 10%;
    right: 4%;

    color: #f7f7f7;
    font-size: 0.7rem;
}

.slider__puntitos{
    display: flex;
    justify-content: center;
    align-items: center;
}

.puntito{
    background-color: #161419;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    margin: 3px;
}

.puntitos__activo{
    background-color: #ff4c0c;
    width: 10px;
    height: 10px;
}