header{
    position: relative;
    padding: 0 2rem;
    background-color: white;
    border-bottom: 1px solid black;
}

.links{
    margin-left: 20px;
}

li{
    list-style: none;
}

.link-navbar{
    text-decoration: none;
    color: black;
    font-size: 0.8em;
}

.link-navbar-dashboard-on{
    display: block;
    text-decoration: none;
    color: black;
    font-size: 0.8em;
}

.link-navbar-dashboard-on:hover{
    color: orange;
}

.link-navbar-dashboard-off{
    display: none;
}

.link-navbar:hover{
    color: orange;
}

.logged a i{
    font-size: 1rem;
}

.logged a i:hover{
    color: orange;
}

.navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 20%;
    height: 60px;
}


.navbar .logo img{
    width: 100%;
    height: 60px;

}

.navbar .links{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.btn-register{
    text-align: center;
    width: 10%;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    font-size: 0.7em;
    padding: 0.5rem 0.7rem;
    background-color: #ff4c0c;
    color: white;
    text-decoration: none;
    transition: all 450ms;
}

.btn-register:hover{
    background-color: #c93d0a;
}

.btn-login{
    text-align: center;
    width: 10%;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    font-size: 0.7em;
    padding: 0.5rem 0.7rem;
    background-color: #10adc0;
    color: white;
    text-decoration: none;
    transition: all 450ms;
}

.btn-login:hover{
    background-color: #0fa2b3;
}

.login a:hover{
    color: white;
}

.menu-hamburguesa{
    font-size: 1.2rem;
    cursor: pointer;
    display: none;
}

.container{
    width: 30%;
    text-align: center; 
    max-width: 250px;
    margin: 0 auto;
}

.search-bar{
    width: 80%;
    max-width: 700px;
    background: rgba(187, 187, 187, 0.2);
    display: flex;
    align-items: center;
    margin-left: 30px;
    border-radius: 60px;
    padding: 5px 10px;
}

.search-bar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 5px 2px;
    font-size: 10px;
}

.search-bar button i{
    width: 25px;
}

.search-bar button{
    border: 0;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
/*dropdown menu*/

.dropdown_menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 65px;
    height: 0px;
    width: 300px;
    background: rgba(248, 247, 247, 0.99);
    border-radius: 10px;
    border: 0px black solid;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: border 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.open{
    height: 265px;
    border: 1px solid black;
}

.dropdown_menu li{
    padding: 0.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu li:first-child{

}

.dropdown_menu .btn-login,
.dropdown_menu .btn-register{
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 1em;
    padding: 8px;
}



/*FOOTER*/

footer {
    background-color: #f5f5f5;
    padding: 20px;
  }
  
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  
  .footer-section {
    flex: 1;
  }
  
  .footer-section h3 {
    color: #333;
    font-size: 18px;
  }
  
  .footer-section p {
    color: #777;
  }
  
  .social-icons {
    list-style: none;
    padding: 0;
    display: flex;
  }
  
  .social-icons li {
    margin-right: 10px;
  }
  
  .social-icons li a {
    color: #777;
  }
  
  .footer-bottom {
    margin-top: 20px;
    text-align: center;
    color: #777;
  }

  .logged i:first-child{    
    margin-right: 5px;
    color: black;
  }

/*Responsive*/

@media (max-width: 992px) {
    .navbar .links,
    .navbar .btn-login,
    .navbar .btn-register{
        display: none;
    }

    .menu-hamburguesa{
        display: block;
    }
    .dropdown_menu{
        display: block;
        z-index: 1;
    }
    .logged{
        display: none;
    }
    .login-botones{
        display: none;
    }

    .dropdown_menu a{
        text-decoration: none;
        color: black;
    }
    .dashboard-off{
        display: none;
    }

}
@media (max-width: 741px) {
    .container{
        display: none;
    }
    .logged{
        display: none;
    }
    .login-botones{
        display: none;
    }
}
@media (max-width: 576px) {
    .dropdown_menu{
        left: 2rem;
        width: unset;
    }
}