* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0px;
    background-color: #FFFFFF;
    font-family: "Montserrat", sans-serif;
    background-image: url(/images/Patron-positivo-fondo.png);
    background-size: contain;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-bottom: 1px solid black;
}

.logoHeader {
    width: 25%;

}

.fa-bars,
.fa-cart-shopping {
    font-size: 25px;
    margin: 10px;
}

/*MAIN*/
a{
    text-decoration: none;
    color: black;
}
.ordenar{
    font-weight: bold;
}


.contenedor-productos{
    width: 90%;
    background-color: rgba(255, 255, 255, 0.97);
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.resultados-filtros{
    display: flex;
    justify-content:space-between;
    padding: 10px;
    width: 100%;
    
}

.producto-carta{
    width: 20%;
    margin: 15px;
    border: 1px solid #b1b1b1;
    border-radius: 10px;
    cursor: pointer;
    background-color: #f7f7f7;
}

article:hover{
    box-shadow: 5px 7px 7px rgb(134, 134, 134);
}

.contendor-imagen img{
    width: 100%;
    height: 100%;
    border-radius:  10px 10px 0px 0px;
    border-bottom: solid 1px #ebebeb
}

.contendor-imagen{
    width: 100%;
    height:70%;
    position: relative;
}

.producto-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    text-decoration: none;

}

.producto-nombre{
    width: 100%;
    font-weight: bold;
    margin-bottom: 5px;
}

.precio{
    font-weight: 500;
}

.precio,
.descuento{
    font-size: 0.8em;
    width: 50%;
}

.descuento{
    color: #42ae52;
    text-align: right;
}
.carrito{
    width: 100%;
}
.boton-carrito{
    width: 90%;
    font-size: 0.7em;
    border: 1px solid black;
    color: white;
    background-color: #ff4c0c;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
}

.boton-carrito:hover{
    background-color: #db3e04ec;
}


/*FOOTER*/

footer {
    width: 100%;
    background-color: #f5f5f5;
    border-top: 1px solid black;
}


.footer-content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.footer-section {
    flex: 1;
}

.footer-section h3 {
    color: #333;
    font-size: 18px;
}

.footer-section p {
    color: #777;
}

.social-icons {
    list-style: none;
    padding: 0;
    display: flex;
}

.social-icons li {
    margin-right: 10px;
}

.social-icons li a {
    color: #777;
}

.footer-bottom {
    margin-top: 20px;
    text-align: center;
    color: #777;
}