<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/partialHead.ejs') %>
    <link rel="stylesheet" href="./css/main/not-found-styles.css">
    <title>Error 404 - Poliforma</title>
</head>
<body>
    <%- include('./partials/partialsHeader.ejs') %>

    <main class="contenedor_padre">
        <img src="/images/error404.jpg" alt="">
        <a href="/" class="btn-1">volver al inicio</a>
    </main>

    <%- include('./partials/partialsFooter.ejs') %>
</body>
</html>