<header class="header">
    <img class="logoHeader" src="./images/logos/Poliforma-horizontal-color.svg">
<div class="iconos-header">
    <i class="fa-solid fa-cart-shopping"></i>
    <i class="fa-solid fa-bars"></i>
</div>
</header>