<header>
    <nav class="navbar">
        <div class="logo">
            <a href="/"><img src="/images/logos/Poliforma-horizontal-color.svg" alt=""></a>
            <ul class="links">
                <li><a href="/" class="link-navbar">Inicio</a></li>
                <li><a href="/products" class="link-navbar">Productos</a></li>
                <li><a href="/contact" class="link-navbar">Contacto</a></li>
                <li><a href="/products/dashboard" class="link-navbar">Dashboard</a></li>
            </ul>
        </div>
        <% if(locals.userLogged){ %>
            <div class="logged">
                <a href="/users/profile/<%= locals.userLogged.id%>"><i class="fa-solid fa-user"></i></a>
                <a href="/"><i class="fa-solid fa-right-from-bracket"></i></a>
            </div>
        <% }else{ %>
            <div class="login">
                <a href="/users/login" class="btn-login">Inicia Sesion</a> 
                <a href="/users/register" class="btn-register">Registrate</a>
            </div>
        <% } %>
        <div class="menu-hamburguesa">
            <i class="fa-solid fa-bars"></i>
        </div>
        <div class="carrito">
            <a href="/products/productCart"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
    </nav>
    <div class="dropdown_menu">
        <li><a href="/">Inicio</a></li>
        <li><a href="/products">Productos</a></li>
        <li><a href="/contact">Contacto</a></li>
        <li><a href="/products/dashboard">Dashboard</a></li>
        <li><a href="/users/login" class="btn-login">Inicia Sesion</a></li>
        <li><a href="/users/register" class="btn-register">Registrate</a></li>
    </div>
</header>

