<header>
    <nav class="navbar">
        <div class="logo">
            <a href="/"><img src="/images/logos/Poliforma-horizontal-color.svg" alt=""></a>
        </div>
        <ul class="links">
            <li><a href="/">Inicio</a></li>
            <li><a href="/products">Productos</a></li>
            <li><a href="/contact">Contacto</a></li>
            <li><a href="/products/dashboard">Dashboard</a></li>
        </ul>
        <div class="login">
            <a href="/users/login" class="btn-login">Inicia Sesion</a>
            <a href="/users/register" class="btn-register">Registrate</a>
        </div>
        <div class="menu-hamburguesa">
            <i class="fa-solid fa-bars"></i>
        </div>
        <div class="carrito">
            <a href="/products/productCart"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
    </nav>
    <div class="dropdown_menu">
        <li><a href="/">Inicio</a></li>
        <li><a href="/products">Productos</a></li>
        <li><a href="/contact">Contacto</a></li>
        <li><a href="/products/dashboard">Dashboard</a></li>
        <li><a href="/users/login" class="btn-login">Inicia Sesion</a></li>
        <li><a href="/users/register" class="btn-register">Registrate</a></li>
    </div>
</header>