<footer class="pie">
  <br>
  <div class="explorerfooter__listado">
      <section class="explorerfooter__quinessomons">
          <h4 class="envio__titulo">Quienes Somos</h4>
      </section>
      <section class="explorerfooter__nuestrahistoria">
          <h4 class="envio__titulo">Nuestra historia</h4>
      </section>
      <section class="explorerfooter__contactos">
          <h4 class="pie__seguridad">Contactos</h4>
      </section>
      </section>
      <section class="explorerfooter__mensaje">
          <h4 class="pie__seguridad">Envienos un mensaje</h4>
      </section>
  </div>
  <div class="footer-section social">
      <h3>Síguenos</h3>
      <ul class="social-icons">
        <li><a href="#"><i class="fab fa-facebook"></i></a></li>
        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
      </ul>
    </div>
  </div>
  <br>
  <p class="pie__copyright">Copyright © 2024 Poliforma</p>
</footer>

<!-- 
Esto es parte del footer que hizo Ruben en un principio, lo cual lo modifiqué para que mostrar esta misma información, pero no en el mismo footer como lo hizo Ruben;
si no que mostrara esta informacion al hacer click ya sea en Contactos, Quienes Somos, Etc.
<div class="container">
    <div class="footer-content">
      <div class="footer-section about">
        <h3>Acerca de Nosotros</h3>
        <p>¡Bienvenido a Poliforma! Somos una empresa dedicada a Impresiones 3D</p>
      </div>
      <div class="footer-section contact">
        <h3>Contacto</h3>
        <p>Correo electrónico: Contacto@Poliforma.com</p>
        <p>Teléfono: +54 9 11 5560-3519</p>
      </div>
      <div class="footer-section social">
        <h3>Síguenos</h3>
        <ul class="social-icons">
          <li><a href="#"><i class="fab fa-facebook"></i></a></li>
          <li><a href="#"><i class="fab fa-twitter"></i></a></li>
          <li><a href="#"><i class="fab fa-instagram"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="footer-bottom">
      <p>Derechos de autor &copy; 2024 | Poliforma</p>
    </div>
  </div> -->
