<header class="header">
        <a href="/"><img class="logoHeader" src="/images/logos/Poliforma-horizontal-color.svg"></a>
    <div class="iconos-header">
        <a href="/products/productCart"><i class="fa-solid fa-cart-shopping"></i></a>
        <i class="fa-solid fa-bars"></i>
    </div>
</header>