* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    margin: 0px;
    background-color: #FFFFFF;
    font-family: "Montserrat", sans-serif;
    background-image: url(/images/Patron-positivo-fondo.png);
    background-size: cover;
}


/*MAIN*/
/*PRODUCTO (IMANOL)*/

.nomProduc{
    font-size: 3em;
    margin: 20px;

}
.preciosProduc{
    font-size: 3em;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.descuento{
    border-left: solid 1px black;
    padding-left: 10%;
}

.no_descuento{
    display: none;
}
.descripProducto{
    margin: 20px;
}



.img-principal{
    width: 100%;
    min-height: 550px;
}

 .contedor-imagen{
    width: 100%;
 }

.etiqueta-caja{
    display: flex;
    max-width: 100%;
    margin-top: 20px;
    margin-bottom: 40px;
}
.fa-tag{
    font-size: 30px;
    margin: 30px;
}
.etiqueta{
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
}
.etiqueta-item{
    padding: 10px;
    margin:5px;
    background-color: #f5f5f5;
    width: 30%;
}

.botones-compra{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.selector-cantidad{
    border: 1px black solid;
    border-radius: 5px;
    padding: 10px;
    width: 15%;
}

.agregar-carrito{
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    width: 82%;
    background-color: #ff4c0c;
    color: white;
    cursor: pointer;
    transition: all 450ms;
}

.comprar-ahora{
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    width: 98%;
    margin-top: 10px;
    background-color: #ff4c0c;
    color: white;
    cursor: pointer;
    transition: all 450ms;
}

.comprar-ahora:hover{
    background-color: #dd4209;
}

.agregar-carrito:hover{
    background-color: #dd4209;
}

.interacciones-producto{
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    flex-direction: column;
    margin: 30px;
    justify-content: space-between;
    cursor: pointer;
}

.intera{
    border-top: solid 1px black;
    text-align: center;
}

/*MENU DESCRIPCIONES (RUBEN)*/

.contenedor-padre{
    background-color: white;
}


/*MENU DETALLES*/

.detalle-producto{
    margin: 20px auto;
}

.menu-desplegable{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.desplegable{
    list-style: none;
    width: 80%;
    margin: 20px;
    padding: 10px;
    border-radius: 8px;
    background-color: #f5f5f5;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15);
}

.primero{
    margin: 0px 20px 20px 20px ;
}

.detalle-producto li label{
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

.titulos::before{
    content: '+';
    margin-right: 10px;
    font-size: 24px;
    font-weight: bold;
}

.abridor[type='radio']{
    display: none;
}

.menu-desplegable .contenido{
    color: #555;
    padding: 0 10px;
    line-height: 26px;
    max-height: 0px;
    overflow: hidden;
    transition: all 0.5s;
}

.menu-desplegable .abridor[type='radio']:checked + .titulos + .contenido{
    max-height: 1000px;
    padding: 10px 10px 20px;

} 

.menu-desplegable .abridor[type='radio']:checked + .titulos::before{
    content: '-';
}


/*CARRUSEL*/

.carrusel{
    background-color: #606060;
    padding: 60px 15px;
}

.titulo-contenedor{
    width: 100%;
    margin-bottom: 40px;
    margin-left: 16px;
    color: white;
    text-align: left;
}

.ver-todos{
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 10px 16px;
    margin-bottom: 20px;
    margin-left: 16px;
    text-decoration: none;
}

.contenedor{
    overflow-y: auto;
    display: flex;
    padding: 16px;
}

.contenedor::-webkit-scrollbar{
    width: 0.3rem;
    height: 0.5rem;
}

.contenedor::-webkit-scrollbar-thumb{
    border-radius: 0.5rem;
    background-color: rgba(223, 223, 223, 0.267);
}

.contenedor img{
    width: 200px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px
}

.producto{
    margin-right: 10px;
    position: relative;

}

.producto a{
    cursor: pointer;
}

.info-producto{
    color: white;
    position: absolute;
    width: 100%;
    bottom: 0;
    top:300;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 0 0 10px 10px;
}



.info-producto p,
.info-producto h4{
    margin: 0;
}

.info-producto p{
    margin-top: 10px;
}

/*FOOTER*/

footer {
    background-color: #f5f5f5;
    padding: 20px;
    text-align: left;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  
  .footer-section {
    flex: 1;
  }
  
  .footer-section h3 {
    color: #333;
    font-size: 18px;
  }
  
  .footer-section p {
    color: #777;
  }
  
  .social-icons {
    list-style: none;
    padding: 0;
    display: flex;
  }
  
  .social-icons li {
    margin-right: 10px;
  }
  
  .social-icons li a {
    color: #777;
  }
  
  .footer-bottom {
    margin-top: 20px;
    text-align: center;
    color: #777;
  }


@media (min-width: 880px) {
    /*HEADER*/

    /*MAIN*/

    /*PRODUCTO (IMANOL)*/
    .contenedor-padre{
        max-width: 1200px;
        margin: auto;
    }

    .contenedor-producto{
        display: flex;
        flex-wrap: wrap;
    }

    .contendor-imagen{
        width: 50%;
    }
    .infoProduc{
        width: 50%;
        padding: 10px;
    }
    .interacciones-producto{
        flex-direction: row;
    }
    
    .intera{ 
        font-size: 1em;
        width: 32%;
        border-top: none;
    }



    
    /*CARRUSEL*/

    .contenedor img{
        width: 400px;
        height: 500px;
        object-fit: cover;
        border-radius: 10px;
    }

    .titulo-boton{
        display: flex;
        justify-content: end;
        flex-wrap: wrap;
    }
    
    .boton-catalogo{
        margin-right: 20px;
        width: 10%;
        height: 5%;
    }

    .info-producto{
        color: white;
        position: static;
        width: 100%;
        padding: 10px;
        background-color: transparent;
    }
}