<header class="header">
    <img class="logoHeader" src="/images/logos/Poliforma-horizontal-color.svg">
<div class="iconos-header">
    <a href="/products/productCart"><i class="fa-solid fa-cart-shopping"></i></a>
    <i class="fa-solid fa-bars"></i>
</div>
</header>